{% extends "base.html" %}
{% block title%}mypage{% endblock%}
{% block content %}
<body class="index_body2">
    <header>
        <h2 class="rogo">portfolio</h2>
    </header>
        <main class="index_main">
            <div id="login">
            <div class="container2">
                <h3>ポートフィリオをご確認いただき<br>ありがとうございます。</h3>
                <ul class="nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('app.logout')}}">ログアウト</a></li>
                {% else %}
                <li><a href="{{url_for('app.login')}}">ログイン画面表示</a></li>
                <li><a href="{{url_for('app.register')}}">新規ユーザー登録</a></li>
                {% endif %}
                <li><a href="{{url_for('app.portfolio')}}">ユーザ画面に進む</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <p>{{current_user.username}}様</p>
                {% else %}
                <p>ログインIDとパスワードは送付メールをご参照下さい</p>
                {% endif %}
            </div>
            </div>
        </main>
    <footer>
        <P class="footer">&copy; 2021 kotaro takano </P>
    </footer>  
    </div>
</body>
{% endblock %}