{% extends "base.html" %}
{%block title%}HOME{%endblock%}
{% block content %}
<body>
<header>
    <h2 class="rogo"><span>P</span>ortfolio</h2>
        <nav>
            <ul>
                <li><a href="{{url_for('app.logout')}}">ログアウト</a></li>
                <li><a href="{{url_for('app.inquiry')}}">お問い合わせ</a></li>
            </ul>
        </nav>
    <h4 class="u_name">{{current_user.username}}&nbsp;様</h4>
</header>
<body>
本文が入ります。
<body>
<footer>
<P class="footer">&copy; 2021 kotaro takano </P>
</footer>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous">
</script>
</body>
{% endblock %}
