{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title%}mypage{% endblock%}
{% block content %}
<body class="index_body2">
    <header>
        <h2 class="rogo">portfolio</h2>
    </header>

    <main class="index_main">
        <div class="container3">  
    <h2>新規登録画面</h2>
    <form method="POST">
        {{form.csrf_token}}
        {{render_field(form.username,class="form-control7")}}
        {{render_field(form.email,class="form-control7")}}
        {{render_field(form.password,class="form-control7")}}
        {{render_field(form.password_confirm,class="form-control7")}}
        <hr>
        {{form.submit(class="button_k")}}   
    </form>
    <a class="input" href="{{url_for('app.home')}}">ホーム画面に戻る</a>
</div>
</main>
<footer>
<P class="footer">&copy; 2022 kotaro takano </P>
</footer>
</body>
{% endblock %}